{% extends "base.html" %} {% block title %}Editar Portfolio{% endblock %}

{% block content %}
<br>
<br>
<br>
<form method="POST">
    <h3 align="center">Tipo de transação</h3>
    <div align="center">
        <label>Venda</label>
        <input name="venda" type="checkbox" id="transaction" value="1">
        <br>
        <label>Compra</label>
        <input name="compra" type="checkbox" id="transaction" value="2">
        <br>
        <label>Transferência</label>
        <input name="transf" type="checkbox" id="transaction" value="3">
        <br>
    </div>

    <h3 align="center">Cripto</h3>
    <div align="center">
        <input name="cripto" type="email" id="cripto" placeholder="Sigla da moeda cripto" required autofocus>
    </div>
    <div align="center">
        <br>
    </div>

    <h3 align="center">Quantidade</h3>
    <div align="center">
        <input name="cripto" type="number" id="quant" placeholder="Quantidade">
    </div>
    <div align="center">
        <br>
    </div>

    <h3 align="center">Data</h3>
    <div align="center">
        <input name="cripto" type="date" id="data">
    </div>
    <div align="center">
        <br>
    </div>

    <h3 align="center">Cotacao</h3>
    <div align="center">
        <input name="cripto" type="number" id="cotacao" placeholder="Cotacao do dia">
    </div>
    <div align="center">
        <br>
        <button type="submit" class="btn btn-primary">Adicionar transacao</button>
    </div>


</form>
{% endblock %}
