{% extends 'base.html' %}

{% block title %}{{ super ()}} - Adicionar{% endblock %}

{% block content %}

<h1>Adicionar</h1>
<form action="" method="POST">
    <div class="form-floating">
        <label for="floatingInput">Nome:</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="Nome completo" name="nome">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">CPF/CNPJ:</label>
        <input type="text" class="form-control" id="floatingPassword" placeholder="CPF/CNPJ" name="cpfcnpj">
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form>

{% endblock %}